body{
    background-color: rgb(156, 108, 108);
}
.log-in{
    box-shadow: -5px 2px 54px -9px rgb(57, 36, 36);
    
}
.form-control:focus{
    border-color: black;
    box-shadow: none;
}
.login{
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid bisque;
}
.login:hover{
    background-color: bisque;
}
.log-in h1{
    color: bisque;
}